.mood-profile-div {
  width: 55%;
  height: 300px;
  border-radius: 20px;
  background-color: #5E936C;
 
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.mood-text-for-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  color: white;
  
}
.mood-welcome-text{
  font-size:2.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.mood-welcome-para{
  font-size: 1.2rem;
  max-width: 500px;
  margin-top: -20px;
}
.mood-image1{
  height: 300px;
  width: 300px;
  border-radius: 20px;
  object-fit: cover;
}


